*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
}

header{
    width: 100%;
    background: rgba(25, 25, 25, 1);
}

.nav{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.home{
    flex: 0.8;
}

.nav-links{
    flex: 0.1;
    text-align: center;
}

main{
    width: 60%;
    margin: 2px auto;
    padding: 5px 10px;
    min-height: 85vh;
}