* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
  text-decoration: none;
  color: black;
}

*:visited {
  color: inherit;
}

.link {
  border-bottom: 3px orange solid;
}

.link:hover {
  border-bottom-color: orangered;
}

main {
  width: 80%;
  margin: 0 auto;
  min-height: 80vh;
}

header {
  width: 100%;
  color: black;
  margin: 0px 0px 10px;
}

.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.home {
  flex: 0.7;
}

.nav-links {
  flex: 0.1;
  text-align: center;
  color: inherit;
  padding: 20px 0;
}

.active-link {
  background: linear-gradient(transparent, transparent, orange);
}

.index-page-cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  grid-template-rows: 1fr 2fr;
  margin: 32px auto 0px;
}

#index-cover {
  box-shadow: 4px 6px 4px 1px gray;
  grid-column: 2;
  grid-row: span 2;
}

.intro-tags {
  margin: 128px auto;
  display: grid;
  list-style: none;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.intro-tags li {
  padding: 50px 10px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  background-color: rgba(255, 140, 0);
  opacity: 0.8;
}

.intro-tags li:hover {
  background-color: rgba(255, 140, 0);
  opacity: 1;
}

.tag {
  padding: 3px;
  margin: 0px 5px 5px 0px;
  border: 1px solid;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.tag:hover {
  background: black;
  color: white;
  transition: 0.2s;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 20px;
  row-gap: 10px;
  margin: 10px auto 128px;
}

.post {
  width: 100%;
  margin: 10px 0;
  grid-column: auto;
  display: flex;
  border-left: 10px solid transparent;
  transition: 0.2s;
}

.post:hover{
  transition: 0.2s;
  border-left: 10px solid orange;
  box-shadow: 1px 1px 5px 1px gray;
}

#blog-img{
  flex: 0.5;
}

.blog-info{
  margin: 5px 10px;
  width: 100%;
}

.blog-info h3{
  margin: 0 0 20px;
}

#single-blog-title {
  font-size: 48px;
  margin: 32px auto;
  background-color: white;
}

.single-blog-container {
  margin: 10px auto;
  background-color: white;
}

.single-blog-matter {
  text-align: justify;
  font-size: 22px;
  margin: 32px 0;
}

.info{
  margin: 10px 0;
  font-style: italic;
}

@media (min-width: 320px) and (max-width: 600px) {
  .nav {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .home {
    text-align: center;
    grid-column: 1/3;
    padding: 0;
  }
  .nav-links {
    align-items: center;
  }
}
